/*-- scss:defaults --*/

// @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/bahnschrift?styles=34766,34768,34770,34772');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&display=swap');

// fonts font-family: 'Fira Sans Condensed', sans-serif;

$font-family-sans-serif: 'Bahnschrift' , sans-serif !default;
// $font-family: 'Roboto', sans-serif !default;
// $body-font: 1000px;
// $h2-font-size:          1.1rem !default;
// colors
// $body-bg: #f7fbfc !default;
$body-bg: #ffffff !default;
$body-color: #333 !default;
$link-color: #3b759e !default;
$selection-bg: #134674 !default;

// headings
$presentation-heading-font: 'Bahnschrift', !default;
// $presentation-heading-text-transform: uppercase !default;
$presentation-heading-font-weight: bold !default;
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1em;
$presentation-h4-font-size: 0.8em;
$presentation-h5-font-size: 0.5em;


//$presentation-h1-font-size: 3vw;
//$presentation-heading-font-size: 0.3vw;
$presentation-heading-letter-spacing: -0.05em;

// code blocks
$code-block-border-color: lighten($link-color, 30%) !default;
$code-block-bg: transparent !default;
// $currentModule: "c:\project\quarto-reveal-template";
// @media screen and (-webkit-min-device-pixel-ratio:0)
// and (min-resolution:.001dpcm) {
// selector{ $presentation-heading-font-weight: normal !default;}
// }


@function setUrl($file) {
  $currentModule : "../../../../../pics/";
  @return url($currentModule + $file);
}

/*-- scss:mixins --*/

// Background generator
@mixin bodyBackground() {
  background: rgb(255,255,255);
  background-image: setUrl("tudelftlogo.svg"), setUrl("admire.png");
  background-position: 98% 2%, 2% 2%;
  background-size: 20vh, 12vh, auto;
  background-repeat: no-repeat, no-repeat;
  background-origin: border-box;
  z-index:4530;
  //background: linear-gradient(180deg, rgba(255,255,255,1) 92.75%, rgba(0,166,214,1) 93%);
}
/*-- scss:rules --*/
#imp{
  font-weight: normal;
}

#logo1{
  background: rgb(111,111,235);
  //z-index: 1;
}

// #foot{
//   text-align: center;
//   font-weight: normal;
//   // position: absolute;
//   // bottom: -100px;
// }
.footer1 {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  margin: 0;
  left: 300px;
  height: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
  color: white;
  text-align: center;
  z-index: 10;
}
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 50px !important;
  max-width: unset !important;
  max-height: unset !important;
  z-index: 10;
}

.reveal .slide-logo1 {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  right: 12px;
  height: 50px !important;
  max-width: unset !important;
  max-height: unset !important;
  z-index: 33;
}

// Fix links so they are not cut off
.reveal a {
  line-height: 1.3em;
}

